<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/lch.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>LCH10</h3>
      </div>

      <div class="text-center">@lechihai</div>
      <div class="text-center">
        <a href="https://www.facebook.com/le.chihai1910/">le.chihai1910</a>
      </div>
    </div>
  </div>
</div>
